<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rae.goservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoService">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Hospital"></activity>
        <activity android:name=".RSAwalBross"></activity>
        <activity android:name=".RSBudiKemuliaan"></activity>
        <activity android:name=".Police"></activity>
        <activity android:name=".PolsekSukajadi"></activity>
        <activity android:name=".PolisiWanita"></activity>
        <activity android:name=".Grocery"></activity>
        <activity android:name=".GiantPlaza"></activity>
        <activity android:name=".HootPlace"></activity>
        <activity android:name=".School"></activity>
        <activity android:name=".UinSuskaRiau"></activity>
        <activity android:name=".UnivAndalas"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>